body{
    height: 1982.47px;
    width: 1263px;
    text-align: left;
    margin: 0px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #212529;
    background-color: #ffffff;
}

*{
    margin: 0px;
    font-family: Roboto,sans-serif;
    border: border-box;
    padding: 0px;
}

                                       /**Header Starts**/

/**nav_main _heading Starts**/

.navigationbar{
    height: 100.8px;
    padding: 25px 0px;
    font-size: 16px;
    font-family: Roboto,sans-serif;
    background-color: #f7f7f7;
    color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.nav_container{
    height: 50.8px;
    width: 1140px;
    margin-right: 61.5px;
    margin-left: 61.5px;
    padding: 0px 15px;
    color: #212529;
    font-family: Roboto,sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    margin: 0px;
    display: inline-block;
    font-size: 24px;
    font-family: Roboto,sans-serif;
    color: #1e1e1e;
    height: 52.8px;
    font-weight: 900;
}

strong{
    font-size: 44px;
    font-family: Roboto,sans-serif;
    color: #f48840;
}

.nav_main_heading{
    margin: -12px 16px 0px 0px;
    padding: 5px 0px;
    height: 62.8px;
}

/**nav_main_heading Completed**/

/**nav_others Starts**/

.nav_others{
    height: 38.5px;
    width: 809.05px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_others_ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 598.06px;
    height: 38.5px;
    margin: 0px 0px 0px 210.984px;
    padding: 0px;
}

.nav_others_list{
    margin-left: 15px;
    margin-right: 15px;
}

.nav_others_item{
    padding: 8px;
    font-size: 15px;
    font-family: Roboto,sans-serif;
}

.nav_others_list>a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    color: #1e1e1e;
    letter-spacing: 1.5px;
    transition: all ease 0.3s;
    padding: 6px;
}

/**drop_down Starts**/

.drop_btn{
    background-color: transparent;
    color: #1e1e1e;
    padding: 6px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    transition: all ease 0.3s;
}

.dropdown .drop_list{
    display: none;
}

.drop_list a{
    display: block;
    color: #212529;
    text-decoration: none;
    padding: 10px 24px;
    font-weight: 400;
    font-size: 16px;
    font-family: Roboto,sans-serif;
}

.drop_list{
    color: #212529;
    position: absolute;
    min-width: 100px;
    float: right;
    clear: both;
    background-color: #ffffff;
    text-align: inherit;
}

.dropdown:hover .drop_list{
    display: block;
}

.dropdown a:hover{
    background-color: hsl(0, 0%, 90%);
    text-decoration: none;
}

/**drop_down Ends**/

.hover:hover{
    color: #f48840;
    text-decoration: none;
}

.hover:active{
    color: #f48840;
    text-decoration: none;
}

/**nav_others Completed**/

                                        /**Header Completed**/

                                        /**First Portion Starts**/

.portion1{
    height: 429.78px;
    width: 1263px;
    font-size: 16px;
    font-family: Roboto,sans-serif;
    color: #212529;
    padding: 110px 0px 0px;
    display: block;
    position: absolute;
    top: 0%;
}

.portion2{
    display: block;
    height: 319.78px;
    width: 1243px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 120px 0px;
    background-image: url(../Images/product.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #212529;
    background-position: center center;
    text-align: left;
}

.portion2::after{
    content: '';
    position: absolute;
    top: 110px;
    left: 10px;
    right: 10px;
    bottom: 0px;
    background-color: rgba(30,30,30,.7);
}

.portion3{
    height: 79.78px;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;
    position: relative;
    z-index: 1;
}

.first_portion{
    height: 79.78px;
    width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212529;
    font-size: 16px;
    font-family: Roboto,sans-serif;
}

.first_portion_content_container{
    height: 79.78px;
    width: 1140px;
    padding: 0px 15px;
    display: block;
}

.first_portion_content{
    height: 79.78px;
    width: 1140px;
    display: block;
}

.first_h{
    color: #f48840;
    font-weight: 900;
    font-size: 18px;
    font-family: Roboto,sans-serif;
    margin-bottom: 15px;
}

.first_h_2{
    color: #ffffff;
    font-size: 36px;
    font-family: Roboto,sans-serif;
}

                                      /**First Portion Ends**/

                                      /**Second Portion Starts**/

.about_detail{
    height: 1057.69px;
    width: 1263px;
    margin-top: 100px;
    font-size: 16px;
    font-family: Roboto,sans-serif;
    color: #212529;
    position: absolute;
    top: 430px;
    display: block;
}

.detail_container{
    width: 1140px;
    height: 1057.69px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px 61.5px;
    display: block;
}

.detail_content{
    width: 1140px;
    height: 1017.69px;
    display: flex;
    margin: 0px -15px;
    flex-wrap: wrap;
}

.detail_content_part1{
    width: 1110px;
    height: 1017.69px;
    padding: 0px 15px;
    display: block;
}

.detail_p{
    margin: 40px 0px;
    padding-bottom: 40px;
    font-size: 15px;
    font-family: Roboto,sans-serif;
    color: #7a7a7a;
    display: block;
    line-height: 30px;
    text-align: center;
}

.p_a:hover{
    text-decoration: none;    
}

.detail_content_part2{
    width: 1140px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
    text-align: center;
    justify-content: center;
}

.detail_icons{
    width: 1110px;
    height: 40px;
    padding: 0px 15px;
}

.detail_ul{
    list-style-type: none;
    display: block;
    width: 1110px;
    height: 40px;
    margin: 0px;
    padding: 0px;
}

.detail_a{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    background-color: #212931;
    color: #fff;
    border-radius: 50%;
    transition: all .3s;
}

.detail_a:hover{
    background-color: #f48840;
}

.detail_l{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

                                            /**Second Portion Starts**/

                                            /**Footer Portion Starts**/

.footer_portion{
    height: 295px;
    width: 1263px;
    margin: 100px 0px 0px;
    padding: 60px 0px;
    background-color: #20232E;
    color: #212529;
    font-size: 16px;
    font-family: Roboto,sans-serif;
    position: absolute;
    bottom: -130%;
    display: flex;
    justify-content: center;
    align-items: center;
}                                            

.footer_portion_part1{
    height: 175px;
    width: 1140px;
    padding: 0px 15px;
    margin: 0px 46px;
}

.footer_portion_part2{
    width: 1140px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_portion_part3{
    height: 145px;
    width: 1140px;
    padding: 0px 15px;
}

.footer_ul{
    height: 85px;
    width: 1140px;
    padding-bottom: 60px;
    padding-left: 0px;
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(250,250,250,0.15);
    text-align: center;
}

.footer_ul>li{
    list-style-type: none;
    margin-right: 30px;
    display: inline-block;
    color: #ffffff;
}

.footer_ul>li>a{
    text-decoration: none;
    font-size: 14px;
    font-family: Roboto,sans-serif;
    color: #ffffff;
    display: inline;
}

.footer_list::after{
    content: "|";
    margin-left: 30px;
    color: #ffffff;
}

.copyright_container{
    height: 30px;
    width: 1140px;
    padding: 0px 15px;
    display: block;
    position: absolute;
    bottom: 60px;
}

.copyright_content{
    height: 30px;
    width: 1110px;
    display: inline;
    text-align: center;
}

.copyright{
    height: 30px;
    width: 1110px;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    font-size: 13px;
    font-family: Roboto,sans-serif;
}

.php{
    color: #f48840;
    text-decoration: none;
    font-size: 13px;
    font-family: Roboto,sans-serif;
}

.php:hover{
    color: #f48840;
    text-decoration: none;
}

                                             /**Footer Completed**;